configuration {
    modi:         "script:/home/fiw/.config/rofi/scripts/launcher.sh";
    show-icons:   true;
    icon-theme:   "Papirus-Dark";
    display-script: "";
}

@theme "/home/fiw/.config/rofi/themes/catppuccin-mocha.rasi"
