configuration {
    modi:         "script:~/.config/rofi/scripts/launcher.sh";
    show-icons:   true;
    icon-theme:   "Papirus-Dark";
    display-script: "";
}

@theme "~/.config/rofi/themes/catppuccin-mocha.rasi"
